		*{	
			margin: 0px;
			padding: 0px;
			font-family: 'Open Sans', sans-serif;
		}
		header {
			padding: 15px;
			height: 50px;
			background: #519987;
		}
		body{
			margin-right:auto;
		}
		#tituloCabecera{
			width: 90px;
			height: 50px;
			float: left;
		}
		div{
			text-align: center;
		}
		div a h2{
			padding: 15px;
			background: #d8ffff;
		}
		div a h2:hover{
			background: #519987;
		}
		.link{
			text-decoration: none;
			color: #515656; 
		}
		.link:hover{
			text-decoration: none;
			color: white; 
		}
		footer{
			padding-top: 25px;
			text-align: center;
			font-size: 10px;

		}
		.autor{
			text-decoration: none;
		}
		.delete{
			text-decoration: none;
			color: red;
		}