
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
body{
	background: #EEE;
}

/* FORM */

#caja{
	width: 700px;
	height: 500px:;
	background: white;
	box-shadow: 0 0 2px #ccc;
	margin: auto;
	padding: 15px;
	font-size: 14px;
}
input[type="text"]{
	width: 675px;
	padding: 5px 10px;
	border: 1px solid #CCC;
	margin-bottom: 5px;
	font-size: 14px;
}
#descripcion{
	width: 675px;
	height: 60px;
	border: 1px solid #CCC;
	padding: 5px 10px;
	resize: none;
	font-size: 14px;
}
input[type="file"]{
	display: none;
}
label{
	padding: 7px 10px;
	border: 1px solid #CCC;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 14px;
}
select{
	-moz-appaearance: none;
	-o-appaearance: none;
	-webkit-appaearance: none;
	padding: 5px 10px;
	border: 1px solid #CCC;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
}
input[type="submit"]{
	padding: 5px 10px;
	border: 1px solid;
	margin-top: 5px;
	background: teal;
	color: white;
	cursor: pointer;
	font-size: 14px;
}
input[type="submit"]:hover{
	background: #215b56;
}

